body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.add-dessert, .quantity-box {
  transition: all 0.3s ease;
}

.add-dessert:hover {
  background-color: #4b4743;
}

.my-cart {
  max-height: 500px;
  overflow-y: auto;
}

.cart-content .item-info {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .my-cart {
      margin-top: 20px;
  }

  .add-dessert, .quantity-box {
      width: 90%;
  }
}

@media (max-width: 576px) {
  .card-img-top {
      height: 150px;
  }

  .add-dessert, .quantity-box {
      font-size: 0.85rem;
  }
}